CONTAINER_PARENT_WORKDIR="/opt"
DB_USERNAME="youbetterpay"
DB_PASSWORD="MY_SUPER_PASSWORD!@#$%"
DB_NAME="db_youbetterpay"
DB_HOST="db"
DB_PORT=27017
FLASK_ENV=development
FLASK_SECRET_KEY="MY_SUPER_SECRET_KEY!@#$%"
