{% extends 'layout.html' %}

{% block container %}

{% if account is defined %}
<h3>Edit Account Type</h3>
{% else %}
<h3>Add Account Type</h3>
{% endif %}
<hr />

<form action="{{ request.path }}" method="post">
  <label class="form-label" for=" name">Account name</label><br>
  {% if account is defined %}
  <input class="form-control" type="text" name="name" placeholder="{{ account.name }}" /><br>
  {% else %}
  <input class="form-control" type="text" name="name" placeholder="Account name" /><br>
  {% endif %}
  <div class="mb-3">
    <label class="form-label" for="name">Bank</label><br>
    <select class="form-select" name="bank">
      {% for bank in banks %}
      <option>{{ bank.name }}</option>
      {% endfor %}
    </select>
  </div>

  <input type="submit" value="Submit" />
</form>

{% endblock %}